.rodape {
    background-color: white;
    padding: 1em;
}

.rodape__titulo {
    font-weight: 400;
}

.rodape__lista {
    display: none;
}


@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .rodape__lista {
        display: block;
    }
    .rodape__titulo {
        font-size: 24px;
    }

    .rodape__lista-titulo {
        font-size: 14px;
        color: #858585;
    }
    
    .rodape__lista-item {
        display: flex;
        align-items: center;
        
    }

    .rodape__lista-link {
        color: #474646;
        text-decoration: none;
        margin: 0.6em;
    }

    .rodape__lista-link:hover {
        color: coral;
    }
}



@media screen and (min-width: 1728px){
    .rodape__lista {
        border-left: 1px solid #858585;
        padding-left: 1em;
        
    }
    .rodape {
        padding: 3em 0;
    }
}